<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Confirmation Success</title>
</head>
<body>
	
	<div layout:fragment="content">
		<h2><span th:text="${message}"></span></h2>
		<h3><a th:href="${url}"> KNIGHT RIDER HOME</a></h3>
	</div>
</body>
<th:block layout:fragment="scripts">	
</th:block>
</html>