<menu-bar></menu-bar>

<div class="trip">
  <h2>{{ trip.originCity }} <span class="arrow">➔</span> {{ trip.destCity }}</h2>
  
  <div class="trip-info-container">
    <div class="trip-info">
      <div class="origin">
          <p class="label">Pickup Location</p>
          <p class="title">{{ trip.originAddress }} </p>
          <p class="when">{{ trip.departureTime | date:'shortTime' }} - {{ trip.departureTime | date:'mediumDate' }}</p>
      </div>
      <div class="destination">
          <p class="label">Dropoff Location</p>
          <p class="title">{{ trip.destAddress }}</p>
          <p class="when">{{ trip.departureTime | date:'shortTime' }} - {{ trip.departureTime | date:'mediumDate' }}</p>
      </div>
    </div>

    <button [routerLink]="['/live-view/' + trip.id]" class="button">View Live Location</button>

    <div id="google-map">
      
    </div>
  </div>

  <div *ngIf="trip.driver" class="driver-container">
    <div class="driver cf">
      <p class="label">Driver</p>
      <img src="{{ trip.driver.profilePicture || 'https://ct1.medstarhealth.org/content/uploads/2015/02/profile_male.jpg' }}" alt="Your Driver">
      <p class="name">{{ trip.driver.firstName }} {{ trip.driver.lastName }}</p>
      <p class="address">{{ trip.driver.address }}</p>
      <p class="car">{{ trip.car.maker }} {{ trip.car.type }}</p>
    </div>

    <div class="passengers">
      <p class="label">Passengers</p>
      <div *ngFor="let passenger of trip.passengers" class="passenger cf">
        <img src="{{ passenger.profilePicture || 'https://ct1.medstarhealth.org/content/uploads/2015/02/profile_male.jpg' }}" alt="">
        <div class="passenger-info">
          <p class="name">{{ passenger.firstName }} {{ passenger.lastName }}</p>
          <p class="address">{{ passenger.address }}</p>
        </div>
      </div>

      <div class="seats">
        <p class="available-seats">{{ trip.remainingSeats | number:'2.0-0' }}</p>
        <p>Seats Available</p>
      </div>
    </div>
  </div>

  <div class="messages-container">
    <h2>Chat</h2>

    <div class="messages-overflow-ct">
      <div *ngFor="let message of trip.messages" [ngClass]="{'current-user': loggedInUserId == message.userId }" class="message">
        <p class="name">{{ message.firstName }} {{ message.lastName }}</p>
        <p class="comment">{{ message.comment }}</p>
      </div>
    </div>

    <input type="text" #messagebox id="messagebox" placeholder="Enter your message" class="message-input" (keyup.enter)="submitMessage(messagebox.value)">
  </div>

  <div class="bottom-content-bar">
      <div class="content-container">
          <a *ngIf="currentUserIsTheDriver()" (click)="deleteRide()" class="button">Delete Ride</a>
          <a *ngIf="currentUserIsTheDriver()" (click)="showReviewForm = true" class="button">Complete Ride</a>
          <a *ngIf="currentUserIsAPassenger()" (click)="leaveRide()" class="button">Leave Ride</a>
          <a *ngIf="!currentUserIsAPassenger() && !currentUserIsTheDriver()" (click)="joinRide()" class="button">Join Ride</a>
      </div>
  </div>

</div>

<form *ngIf="showReviewForm" class="review-form" name="review-form" [formGroup]="reviewForm.getForm()" (ngSubmit)="reviewForm.isValid() && submitReview()" novalidate>
    <h2>Review</h2>
    <p>Leave a review of your trip.</p>
    <div class="form-group">
      <label for="score">Score</label>
      <input type="number" name="score" formControlName="score" min="1" max="5">
      <div *ngIf="reviewForm.hasError('score')" class="error">Score must be between 1 to 5</div>
    </div>
    <div class="form-group">
      <label for="type">Comment</label>
      <textarea name="comment" formControlName="comment" placeholder="Your comment"></textarea>
      <div *ngIf="reviewForm.hasError('comment')" class="error">Your review is required</div>
    </div>

    <button class="button submit" type="submit">Submit</button>
    <button class="button cancel" (click)="showReviewForm = false">Cancel</button>
  </form>

<div *ngIf="loading" class="loading">
  <img src="./assets/loading.gif" alt="">
</div>
